h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(255, 115, 0);
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,rgb(255, 252, 209), rgb(255, 232, 232));
    
}

nav {
    background-color: #ffdfdf;
    color: white;
    padding: 5px 10px;
    text-align: left;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    padding: 15px;
}
nav ul li a{
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(88, 5, 136);
}
nav ul li:hover{
    background-color: rgb(255, 181, 181);
}
nav img{
    width: 50px;
    vertical-align: middle;
    border-radius: 50%;
}

main{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
}

input, textarea {
    padding: 10px;
    height: 100%;
    width: 40%;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    background: transparent;
}

.name {
    display: block;
    margin: 10px;
    
}
.name label {
    padding: 10px;
}


.wa-number {
    display: block;
    margin: 10px;
    
}
.wa-number label {
    padding: 10px;
}


.question {
    display: block;
    margin: 10px;
    
}
.question label {
    padding: 10px;
}

.orderform button{
    margin: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    background-color:aquamarine;
    color: rgb(27, 95, 84);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}
.orderform button:active{
    background-color: rgb(27, 95, 84);
    color: aquamarine;
}

.orderform{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



