h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(255, 115, 0);
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right,rgb(255, 252, 209), rgb(255, 232, 232));
    
}

nav {
    background-color: #ffdfdf;
    color: white;
    padding: 10px;
    text-align: left;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    padding: 15px;
}
nav ul li a{
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(88, 5, 136);
}
nav ul li:hover{
    background-color: rgb(255, 181, 181);
}

main{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
}
main h2{
    color: rgb(32, 57, 128);
}
main p{
    color: rgb(88, 5, 136);
}
main ul{
    color: rgb(228, 129, 0);
}

.introduction{
    background-color: #ffffff88;
    padding: 20px;
    box-shadow: rgb(18, 44, 16) 0px 0px 10px;
    margin: 20px 0;
}
.introduction a{
    text-decoration: none;
    color: rgb(53, 1, 112);
    font-weight: bold;
}
.productdetails{
    background-color: #ffffff88;
    padding: 20px;
    box-shadow: rgb(18, 44, 16) 0px 0px 10px;
    margin: 20px 0;
}
.orderbutton{
    background-color: rgb(131, 197, 255);
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    color: rgb(1, 45, 112);
    font-weight: bold;
}
.orderbutton:hover{
    background-color: rgb(189, 220, 247);
    cursor: pointer;
}

